.NavBar {
    display: flex;
    padding: 0px 10px;
    background: rgb(255, 194, 161);
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.userImg {
    background: #000;
    margin: 2px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
}
.router {
    display: flex;
    list-style-type: none;
}
.router div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    margin: 0px 5px;
    width: 40px;
    height: 40px;
    background: var(--main-color);
    border-radius: 20px;
    transition: 200ms;
}
.router div:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px 1px var(--main-color);
    transition: 200ms;
}
.addItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transform: rotate(180deg);
    transition: 200ms ease;
}
.addItem:hover {
    transform: rotate(270deg);
    transition: 200ms ease;
    cursor: pointer;
}
@media (max-width: 500px) {
    .NavBar {
        flex-direction: column;
        width: 60px;
        align-items: center;
        height: 100vh;
        padding: 0px;
    }
    .router {
        flex-direction: column;
        width: 60px;
        align-items: center;
    }
    .router div {
        margin: 10px 0px;
    }
    .addItem {
        margin-bottom: 5px;
    }
}
